<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>BLOGS</title>
</head>
<body>
    <h1 class="new">new blog article</h1>
    <form action="/newpost" method="post">
    <input type="text" name="blogtitle" placeholder="Enter your blog article here">
    <br>
        <textarea name="blogdetails"  cols="60" rows="20" placeholder="Enter your blog "></textarea>
        <br><br>
        <button type="submit" class="btn add">ADD POST</button>
    </form>

    <script src="javascripts/index.js"></script>
</body>
</html>


    