<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylemain.css">
    <title>WELCOME !!!</title>
</head>
<body>
    <div class="image">
        <h1>WELCOME TO OUR BLOGS</h1>
        <img src="images/KULMAN LOGO.PNG " alt="LOGO" class="logo-main">  

        <h2>sponspored by netflix & instagram </h2>
        <div class="logos">
            <img src="images/ne.PNG" alt="netfilxlogo" class="logo-sp">
            <img src="images/insta.png" alt="instalogo" class="logo-sp">
        </div>
    </div>
    <div class="container-btn">
      
        <div class="forms">
            <button class="btn btn-l ">
                SIGN-UP
            </button>
            <button class="btn btn-r active">
                LOGIN
            </button>
        </div>
        <div class="container">
           <div class="heading">
               <h1>Please Sign-up to continue</h1>
           </div>
          <form action="/signup" method="post" class="form-input">
            <label for="usr">USERNAME :</label>
            <input type="text" name="usr" placeholder="Enter your username" required id="usr" autocomplete="off">
            <br>
            <label for="pswd">PASSWORD :</label>
            <input type="password" name="pswd" required placeholder="Enter your password"id="pswd">
            <br>
          <button type="submit" class="subs">SIGN UP</button>
          </form>
        </div>

    </div>
    <script src="javascripts/indexmain.js"></script>
</body>
</html>