<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylelogin.css">
    <title>KULMAN BLOG</title>
</head>
<body>
    <div class="container">
        <img src="images/KULMAN LOGO.PNG " alt="LOGO" class="logo">
      <h1>Please Sign-up to continue</h1>
      <form action="/signup" method="post" class="form-input">
        <label for="usr">USERNAME :</label>
        <input type="text" name="usr" placeholder="Enter your username" required id="usr" autocomplete="off">
        <br>
        <label for="pswd">PASSWORD :</label>
        <input type="password" name="pswd" required placeholder="Enter your password"id="pswd">
        <br>
      <button type="submit" class="subs">SIGN UP</button>
      </form>
    </div>
</body>
</html>