<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<!--external css-->
    <link rel="stylesheet" href="css/styles.css">
    <title>NEWSLETTER SIGN-UP </title>
  </head>
  <body>
      <div class="container">
          <img src="images/KULMAN LOGO.PNG " alt="LOGO" class="logo">
        <h1>Subscribe To our Newsletter.</h1>
        <form action="/subscribe" method="post" class="form-input">

          <input type="text" name="firstname" placeholder="First Name" required autofocus>
          <br>
          <input type="text" name="lastname" placeholder="Last Name" required>
          <br>
          <input type="email" name="email" placeholder="Enter your email" required>
          <br>
          <br>
        <button type="submit" class="subs">Subscribe</button>
        </form>

      </div>
  </body>
</html>